<h1>New User Page</h1>

<%= form_for @user do |f| %>

    <% if flash[:errors] %> 
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
            <br>
        <% end %> 
    <% end %> 

    <lable>First Name:</lable><br>
    <%= f.text_field :first_name %><br>
    <br>
    <lable>Last Name:</lable><br>
    <%= f.text_field :last_name %><br>
    <br>
    <lable>UserName:</lable><br>
    <%= f.text_field :username %><br>
    <br>
    <lable>Password:</lable><br>
    <%= f.password_field :password %><br>
    <br>
    <lable>Password Confirmation:</lable><br>
    <%= f.password_field :password_confirmation %><br>
    <br>
    <%= f.submit "Create User" %>
    <br>
    <p><%= link_to "Back", login_path %></p>
<% end %>