<%if @meal.errors %>
    <%@meal.errors.full_messages.each do |message|%>
        <h1>ERROR: <%=message%></h1>
    <%end%>
<%end%>

<%= form_for @meal do |f| %> 
    <h2><%=f.label :name %></h1> <br>
    <%=f.text_field :name %> <br><br>

    <h2><%=f.label :photo %></h1> <br>
    <%=f.file_field :photo %> <br><br>

    <h2><%=f.label :recipe_url %></h1> <br>
    <%=f.text_field :recipe %> <br><br>

    <%=f.submit %>




<% end %> 