<br>
<br>
<h1><%=@meal.name%></h1><br><br>

<image src="<%=(url_for(@meal.photo))%>"><br><br>
<h2>Current Favorites: <%=@meal.favorite_meals.length%></h2>

<h1><%=link_to "Recipe", @meal.recipe, target: :_blank%></h1>
<br>
<% if @fav_meal.meal_id==@meal.id%>
    <h1> Delicious! This is your Favorite Meal! </h1><br>
<% else %> 
    <%= render "favorite"%>
<% end%>