<div class="row">
<div class="column">
<ol>
<% @top_five.each do |meal|%>
    <li class="bite">
    <image class="top" src="<%=(url_for(meal.photo))%>">
    <%=meal.name%><br>
    <%="#{meal.number_of_favorites} favorites!!!"%><br>
    
    <%= link_to "See #{meal.name}", meal_path(meal)%><br><br><br>
    </li>
<%end%>
</ol>
</div>
<div class="column">
<ol start="6">
<% @second_five.each do |meal|%>
    <li class="bite">
    <image class="top" src="<%=(url_for(meal.photo))%>">
    <%=meal.name%><br>
    <%="#{meal.number_of_favorites} favorites!!!"%><br>
    <%= link_to "See #{meal.name}", meal_path(meal)%><br><br><br>
    </li>
<%end%>
</ol>
</div>
</div>