<br>
<br>
<h1>Top Ten Desserts</h1>
<br>
<br>


<div class="row">
<div class="column">
<ol>
<% @top_five.each do |dessert|%>
    <li class="bite">
    <image class="top" src="<%=(url_for(dessert.photo))%>">
    <h3><%=dessert.name%></h3>
    <p><%="#{dessert.number_of_favorites} favorites!!!"%></p>
    <p><%= link_to "See #{dessert.name}", dessert_path(dessert)%></p><br><br><br><br>
    </li>
<%end%>
</ol>
</div>
<div class="column">
<% if Dessert.top_ten.length >5%>
    <ol start="6">
    <% @second_five.each do |dessert|%>
        <li class="bite">
        <image class="top" src="<%=(url_for(dessert.photo))%>">
        <h3><%=dessert.name%></h3>
        <p><%="#{dessert.number_of_favorites} favorites!!!"%></p>
        <p><%= link_to "See #{dessert.name}", dessert_path(dessert)%></p><br><br><br><br>
        </li>
    <%end%>
    </ol>
<%end%>
</div>
</div>