<!DOCTYPE html>
<html>
  <head>
    <title>BestBites</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <h1>Best Bites</h1><br>
      <div class="table">
      <ul>
        <li class="nav"><%=link_to "Home", home_path%></li>
        <li class="nav"><%=link_to "Desserts", desserts_path%></li>
        <li class="nav"><%=link_to "Top-Ten", top_ten_desserts_path%></li>
        <li class="nav"><%=link_to "Meals", meals_path%></li>
        <li class="nav"><%=link_to "Top-Ten", top_ten_meals_path%></li>
        <li class="nav"><%=link_to "Profile", user_path(session[:user_id])%></li>
        <li class="nav"><%=link_to "Logout", logout_path%></li>
      </ul>
      </div>
  </header>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
